<h3>Search for your train</h3>

<form name="travelPlanForm" ng-controller="TravelViewController as travelCtrl"
      ng-submit="travelPlanForm.$valid && travelCtrl.setPlaces(travelCtrl.places.A, travelCtrl.places.B)" novalidate>

    <div class="input-group">
        <select ng-model="travelCtrl.places.A" ng-options="place.name for place in travelCtrl.places" required>
            <option value="" selected disabled>From</option>
        </select>
        <input type="date" required/>
        <select ng-model="travelCtrl.places.B" ng-options="place.name for place in travelCtrl.places" required>
            <option value="" selected disabled>To</option>
        </select>
        <input type="date" required />
    </div>
    <a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>
    <button type="submit">Submit</button>
</form>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
